 .certificates
{
    margin: 0 auto;
    min-height: calc(100vh-4rem);
    width: 100vw;
    max-width: 60rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; 
    padding: 0 1rem;
}
.certimg{
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    max-width: 95vw;
    margin-right:200px;
    margin-top: 80px;
    
}
.pyct,.javact,.threect,.htmlct,.reactct,.gitct,.nakurict,.bootct
{
    width: 350px;
    object-fit: cover;
    height: 20rem;
    margin: 0.5rem;
}
.certtitle
{
    margin-top: 100px;
    border: 1px solid;
    border-radius: 300px;
    height: 50px;
    width: 230px;
    font-size: 20px;
    background-color: rgb(60, 154, 20);
}
.certtitle:hover
{
    background-color: teal;
}
@media screen and (max-width:1475px) {
    
   #certificates
    {
        margin-left: 80px;
       

    }
    .certtitle
    {
      margin-left: 100px;
    }
    .certimg{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 2.8rem;
    margin-top: 80px;
    
}
    
}